<p id="notice"><%= notice %></p>

<h1>Airticles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Affiliation</th>
      <th>Contactaddress</th>
      <th>Phonenumber</th>
      <th>Title</th>
      <th>Abstract</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @airticles.each do |airticle| %>
      <tr>
        <td><%= airticle.name %></td>
        <td><%= airticle.affiliation %></td>
        <td><%= airticle.contactaddress %></td>
        <td><%= airticle.phonenumber %></td>
        <td><%= airticle.title %></td>
        <td><%= airticle.abstract %></td>
        <td><%= link_to 'Show', airticle %></td>
        <td><%= link_to 'Edit', edit_airticle_path(airticle) %></td>
        <td><%= link_to 'Destroy', airticle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Airticle', new_airticle_path %>
